In [5]:
import quandl
import pandas as pd

In [6]:
def quandl_get_daily_data_function(ticker,start,end):
    quandl.ApiConfig.api_key = 'ENTER THE API KEY'

    daily_data_dataframe=quandl.get(ticker,start_date=start, end_date=end)
    daily_data_dataframe.to_csv(ticker.split('/')[1]+'_daily_data_quandl.csv')

In [7]:
# This creates a CSV file in the directory from where this notebook is launched
# Quandl EOD help- https://www.quandl.com/data/EOD-End-of-Day-US-Stock-Prices/documentation

quandl_get_daily_data_function('EOD/MSFT',start='2015-01-01',end='2018-01-01')

In [10]:
# Display the above data
data1 = pd.read_csv('MSFT_daily_data_quandl.csv')
data1.head()

,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
0,2015-01-02,46.66,47.4200,46.54,46.760,27913852.0,0.0,1.0,42.035305,42.719978,41.927199,42.125394,27913852.0
1,2015-01-05,46.37,46.7300,46.25,46.325,39673865.0,0.0,1.0,41.774049,42.098367,41.665943,41.733509,39673865.0
2,2015-01-06,46.38,46.7490,45.54,45.650,36447854.0,0.0,1.0,41.783058,42.115484,41.026314,41.125411,36447854.0
3,2015-01-07,45.98,46.4600,45.49,46.230,29114061.0,0.0,1.0,41.422703,41.855128,40.981270,41.647925,29114061.0
4,2015-01-08,46.75,47.7499,46.72,47.590,29645202.0,0.0,1.0,42.116385,43.017180,42.089359,42.873129,29645202.0